body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  margin: 0;
  background: #eef2f7;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selector button {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #bbb;
  background-color: #28a745;
  cursor: pointer;
  transition: background 0.2s ease;
  width: auto;
}

.selector button:hover {
  background-color: #ddd;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin: 0 auto 10px auto;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: none;
}

label {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 55%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #218838;
}

.btnLimpiar {
  width: 150px; /* ancho fijo más pequeño */
  background: #dc3545;
  margin: 10px auto;
  display: block; /* para que el margin:auto lo centre */
  padding: 8px 0;
  border-radius: 8px;
  font-size: 0.9em;
  text-align: center;
}

.btnLimpiar:hover {
  background: #c82333;
}
